<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClubHouse</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <main>
    <h1>Welcome to the <span class="redacted">ClubHouse</span>!</h1>

    <p>"Private" message board where anyone can post but you can only see messages of users in your club.</p>
    <p>Share a club code with your friends to see their messages. Otherwise stay outside wondering what all the cool folks are talking about.</p>
    <p>PS. this is not a real service, it's just a demo project running on a free potato server so expect it to be SLOW.</p>

    <div class="landing-links">
      <p>Go to <a href="/auth/login">login</a> page</p>
      <p>First time here? <a href="/auth/register">Register</a></p>
    </div>
  </main>
</body>
</html>
