<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Sign Up Page</h1>
        <p>Enter your username and password.</p>
    <form action="/auth/register" method="post">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required />
    </div>
    <div>
        <label for="new-password">Password</label>
        <input id="new-password" name="password" type="password" autocomplete="off" required />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
            <p>back to <a href="/auth/login">login</a></p>
</form>
</body>
</html>
